version 5.198.0

group Main
	framework: netcoreapp2.2
    source https://api.nuget.org/v3/index.json

	nuget FSharp.Core
    nuget FParsec

group Tests
	framework: netcoreapp2.2
    source https://api.nuget.org/v3/index.json

	nuget FsUnit
    nuget Microsoft.NET.Test.Sdk
    nuget NUnit3TestAdapter

	github fsprojects/FsUnit src/FsUnit.NUnit/FsUnit.fs